.container {
  padding: 2rem;
  background-color: #0a2e21; /* Dark green background */
  color: #ffffff; /* White text color for better readability */
  height: 100vh;
}

.title {
  color: #c8e6c9;
  text-align: center;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #388e3c;
  padding: 8px;
  text-align: left;
  color: #ffffff;
}

.button {
  padding: 5px 10px;
  background-color: #e53935; /* Red color for the deactivate button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #b71c1c;
}
